.boton-rosado {
    border-radius: .5rem;
    @include boton($rosado, inline-block);
}

.boton-rosado-block {
    @include boton($rosado, block);
    font-weight: $bold;
    
}

.boton-rojo-block{
    border-radius: .5rem;
    font-weight: 400 !important;
    @include boton($fucsia, inline-block);
    margin-bottom: 1rem;
    width: 100% !important;
}

.volver_simple {
  color: white;
  padding: 1rem;
  background: black;
  display: inline-block;
  border-radius: 1rem;
  margin: 2rem;
}

.boton-verde-block{
 
    border-radius: .5rem;
    font-weight: 400 !important;
    @include boton($verde, inline-block);
}

// formulario de los botones
.w-100{
    display: flex;
    flex-direction: column;
}
.boton-rosado2
{
  background-color: #cf5a60;
  border: none;
  border-radius: .5rem;
  color: #fff;
  display: inline-block;
  height: -moz-fit-content;
  height: fit-content;
  margin-top: 2.5rem 0;
  padding: .5rem 2rem;
  text-align: center;
  text-decoration: none;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 1.4rem;
}
.btn-rosado3{
    background-color: #cf5a60;
  border: none;
  border-radius: 0.5rem;
  padding: .5rem;
  width: 51%;
  color: #fff;
  display: inline-block;
  height: -moz-fit-content;
  height: fit-content;
  text-align: center;
  text-decoration: none;
}
.espacio2{
    margin-bottom: 4rem;
}

// boton de subir imagen 

.custom-file-upload {
  background: #0070e8;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  padding: .8rem 2rem;
  margin-top: 2rem;
}
  
  .custom-file-upload:hover {
    background: #0056b3;
  }

  .btn-volver {
    display: inline-block;
    padding: 0.4rem 1rem;
    background: #ac1c43;
    color: white;
    border-radius: 1rem;
  }

  .boton-rojo-block_usuarios {
    background-color: #ba0534;
    border: none;
    border-radius: .5rem;
    color: #fff;
    display: inline-block;
    font-weight: 400 !important;
   
    padding: 1.5rem 2rem;
    text-align: center;
    text-decoration: none;
    width: 100% !important;
    height: 100%;
    &:hover {
      background-color: #a1042d;
      cursor: pointer;
    }
  }