.boton-rosado {
    border-radius: .5rem;
    @include boton($rosado, inline-block);
}

.boton-rosado-block {
    @include boton($rosado, block);
    font-weight: $bold;
    
}

.boton-rojo-block{
    border-radius: .5rem;
    font-weight: 400 !important;
    @include boton($fucsia, inline-block);
    margin-bottom: 1rem;
    width: 100% !important;
}

.volver_simple {
  color: white;
  padding: 1rem;
  background: black;
  display: inline-block;
  border-radius: 1rem;
  margin: 2rem;
}

.boton-verde-block{
 
    border-radius: .5rem;
    font-weight: 400 !important;
    @include boton($verde, inline-block);
}

// formulario de los botones
.w-100{
    display: flex;
    flex-direction: column;
}
.boton-rosado2
{
  background-color: #fff;
  border: none;
  border-radius: .5rem;
  color: #000;
  display: inline-block;
  height: -moz-fit-content;
  height: fit-content;
  text-align: center;
  text-decoration: none;
  border: 1px solid black;
  margin-top: 1rem;
  padding: .5rem 1rem;
  font-size: 1.5rem;
}
.boton-negro {
  background-color: #3737376b;
  border: 1px solid white;
  border-radius: .5rem;
  color: #fff;
  display: inline-block;
  height: -moz-fit-content;
  height: fit-content;
  margin-top: 2.5rem 0;
  padding: .5rem 1rem;
  text-align: center;
  text-decoration: none;
  width: -moz-fit-content;
  width: fit-content;
}
.btn-rosado3{
    background-color: #cf5a60;
  border: none;
  border-radius: 0.5rem;
  padding: .5rem;
  width: 51%;
  color: #fff;
  display: inline-block;
  height: -moz-fit-content;
  height: fit-content;
  text-align: center;
  text-decoration: none;
}
.espacio2{
    margin-bottom: 4rem;
}

// boton de subir imagen 

.custom-file-upload {
  background: #232222;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  padding: .8rem 2rem;
  margin-top: 2rem;
}
  
  .custom-file-upload:hover {
    background: #494848;
  }

  .btn-volver {
    display: inline-block;
    padding: 0.4rem 1rem;
    background: #ac1c43;
    color: white;
    border-radius: 1rem;
  }

  .boton-rojo-block_usuarios {
    background-color: #ba0534;
    border: none;
    border-radius: .5rem;
    color: #fff;
    display: inline-block;
    font-weight: 400 !important;
   
    padding: 1.5rem 1rem;
    text-align: center;
    text-decoration: none;
    width: 100% !important;
    height: 100%;
    &:hover {
      background-color: #a1042d;
      cursor: pointer;
    }
  }
  .boton-rosado_reservaya {
    background-color: #00000069;
    border: none;
    border-radius: .5rem;
    color: #fff;
    display: inline-block;
    height: -moz-fit-content;
    height: fit-content;
    margin-top: 2.5rem 0;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    width: -moz-fit-content;
    width: fit-content;
  }

  .btn_reserva_lista a {
    font-size: 1.4rem;
    text-transform: uppercase;
    border: 1px solid white;
    &:hover{
      transition: .2s ease-in;
      background-color: rgb(81, 78, 78);
      cursor: pointer;
    }
  }
  .btn_reserva_lista {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: end;
    margin-bottom: 1rem;
   
  
  }
  .boton-verde-recargar {
    background: green;
  border: none;
  border-radius: .4rem;
  color: #fff;
  font-size: 1.5rem;
  padding: 1rem 2rem;
  }