.aviso_premio_header {
    background: #ba0534;
  }
  .aviso_premio_header p {
    color: white;
    font-size: 1.3rem;
    text-align: center;
  }

  #abrir_modal a {
    color: white;
  }
.header_cont{
    margin: auto;
}
.no{
    display: none !important;
}
.inicio{
    display: block;
}
.no2{
    display: none !important;
}
.imghabitaciones{
    display: block;
}
.cuadro{
    background-color: rgba(0,0,0,.507);
    height: 70rem;
    position: absolute;
    width: 100%;
    z-index: 2;
}
.video33{

        align-items: end;
        display: flex;
        height: 70rem;
        justify-content: left;
        width: 100%;

    .header-flex{
        padding: 3rem;
        z-index: 4;
        align-items: center;
        display: flex;
        justify-content: center;
        border-radius: 50%;
        position: absolute;
        top: 31rem;
        .part2_header-flex{
            p:nth-child(1){
                font-size: 4rem;
                color: $blanco;
                // font-style: italic;
            }
            p:nth-child(2){
                font-size: 1.4rem;
                color: $blanco;
            }
            p:nth-child(3){
                font-size: 1.4rem;
                color: $rosado;
                font-style: italic;
            }
        }
    }
}
.img_logo_rbrewards {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .img_logo_rbrewards img {
    width: 4rem;
  }
.logo_arriba img {
    margin: auto;
    position: absolute;
    right: 55rem;
    top: 8rem;
    width: 35rem;
    z-index: 2;
  }

.header_cont p {
    font-weight: 600;
    margin-bottom: 0 !important;
}
video{
    width: 100%;
}
.video{
    position: absolute;
    height: 70rem;
    // top: 9rem;
    width: 100%;
    overflow: hidden;
    z-index: 1;
}

.redes{
    display: flex;
    gap: 2rem;
    .redes_div{
        background-color: $blanco;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        width: 2.5rem;
        height: 2.5rem;
        a{
            i{
                color: #ac1c43;
            }
        }
    }
}

.header{
    // background-color: #8a8383;

        align-items: center;
        background-color: #fff;
        display: flex;
        // height: 9rem;
        justify-content: center;
        position: relative;
        z-index: 31;
      
    .menu #btn_menu{
        display: none;
    }

    .header_cont{
        align-items: center;
  display: flex;
  justify-content: space-between;
  gap: 4rem;
        .navegacion{
            display: flex;
            align-items: center;
            gap: 2rem;
            a{
                display: inline-block;
                color: #000;
                font-size: 1.3rem;
                padding: 1rem;
            }
            a:hover{
                padding: 1rem;
                background-color: $grisClaro2;
                color: $rosado;
                border-radius: 1rem;
                -webkit-transition: ease-out 0.3s;
                -moz-transition: ease-out 0.3s;
                transition: ease-out 0.3s;
            }
            
        }
    }
}

// imagen del header
.imagen_header{
    width: 100%;
    height:60rem;
    .img_header{
         width: 100%;
         height:60rem;
    }
   .imagen_header_fondo{
         position: absolute;
         top: 0rem;
         width: 100%;
         height:60rem;
         background-color: hsla(0, 0%, 8%, 0.524);
   }
   .logo_header{
        position: absolute;
        top: 20rem;
        left: 43rem;
        // left: 50%;
        margin: 0;
        z-index: 2;
        width: 50rem;
   }
}
  
// menu responsive


@media screen and (max-width: 1000px){
  
}


// imagen del header
*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


.slideshow{
    width: 100%;
    height:60rem;
	position: relative;
    overflow: hidden;
	ul,ol{
		list-style: none;
		margin: 0;
	}
}
.slideshow2{
    width: 100%;
    height:40rem;
	position: relative;
    overflow: hidden;
	ul,ol{
		list-style: none;
		margin: 0;
	}
}
.slideshow3{
    width: 100%;
    height:100%;
	position: relative;
    overflow: hidden;
	ul,ol{
		list-style: none;
		margin: 0;
	}
}
.slider li, ul,
.slider2 li, ul,
.slider3 li, ul{
	width: 100%;
}

.slider li,
.slider2 li,
.slider3 li{
	overflow: hidden;
}

.slider li .img_slider
{
    width: 100%;
    height:60rem;
    overflow: hidden;
    animation-duration: 4s;
	animation-name: slidein;
    object-fit: cover;
}
.slider2 li .img_slider{
	width: 100%;
    height:40rem;
	overflow: hidden;
	animation-duration: 4s;
    border-radius: 3px;
}
.slider3 li .img_slider{
	width: 100%;
    height:40rem;
	overflow: hidden;
	animation-duration: 4s;
    border-radius: 3px;
}
@keyframes slidein {
from {
  transform: scale(1);
}

to {
    transform: scale(1.2);
    
}
}
.slider .caption{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	padding: 15px 50px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	text-align: center;
	color: #fff;
	z-index: 1;
}

.slider .caption h1{
	font-size: 50px;
}

.slider .caption p{
	margin-top: 10px;
	font-size: 20px;
}

.pagination{
	position: absolute;
	top: 102%;
	width: 100%;

	display: flex;
	justify-content: center;
}

.pagination li{
	font-size: 20px;
	margin: 2px 5px;
	color: #909196;
	cursor: pointer;
}

.left, .right{
	position: absolute;
	top: 0;
	height: 100%;

	display: flex;
	align-items: center;

	color: #fff;
	font-size: 35px;
	cursor: pointer;
	z-index: 2;
}

.left{
	left: 10px;
}

.right{
	right: 10px;
}

.total{
	margin-bottom: 10px;
	border: 0;
}
// menu responsive
// slider

.slider_eventos {
    position: relative;
}


.slideshow, .slidershow3 {
    overflow: hidden;
}

.slider2 {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    transition: transform 0.5s ease-in-out;
}
.slider3 {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slider2 li {
    flex: 0 0 100%;
}
.slider3 li {
    flex: 0 0 100%;
}

.img_slider {
    width: 100%;
    height: 40rem;
    object-fit: cover;
}

.imagen_header2,
.imagen_header3 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.imagen_header_fondo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // background: hsla(0, 0%, 7.8%, 0.66)/* Cambia el fondo según tu preferencia */
}

// .slider2:hover .imagen_header2 {
//     opacity: 1;
// }
.texto_overlay {
	color: white;
    font-size: 1.6rem;
    text-align: center;
    max-width: 80%; /* Ajusta el ancho máximo del texto según tus necesidades */
    max-height: 80%; /* Ajusta la altura máxima del texto según tus necesidades */
    overflow: hidden; /* Recorta el texto si es demasiado largo */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	span{
		font-weight: 600;
	}
    a{
        display: inline-block;
        margin-top: 1rem;
        color: #fff;
        font-style: italic;
        font-size: 1.4rem;
    }
}


// imagen del header
.imagen_header2{
    width: 100%;
    height:40rem;
    // .img_header{
    //      width: 100%;
    //      height:60rem;
    // }
   .imagen_header_fondo{
         position: absolute;
         top: 0rem;
         width: 100%;
         height:40rem;
        //  background-color: #9f425a91;
   }
   .logo_header{
        position: absolute;
        top: 20rem;
        left: 43rem;
        // left: 50%;
        margin: 0;
        z-index: 2;
        width: 50rem;
   }
}

#btnWs{
	padding: 10px;
	background-color: green;
	color: white;
}

@media screen and (max-width: 900px){
    video {
        width: auto;
        height: 100%;
      }
    // registrar /inciiar
.seccion_registrar{
    flex-direction: column;
    height: 16rem !important;
    align-items: center !important;
    padding-right: 0rem !important;
    padding-top: 2rem;
    gap: 2rem !important;
}


    // slider
	.slider .caption p{
		display: none;
	}

	.slider .caption h1{
		font-size: 35px;
	}

	.left, .right{
		font-size: 30px;
	}

	.slider li img{
		width: 600px;
	}

	.pagination{
		display: none;
	}

    // menu responsive
    .menu i{
        color: white;
    }
    .menu nav{
        background: #575757;
        height: 100vh;
        padding: 40px;
        position: fixed;
        right: -250px;
        top: 0;
        transition: all .3s;
        width: 250px;
        z-index: 19;
        display: flex !important;
        flex-direction: column;
        justify-content: center;
    }

    .menu ul{
        flex-direction: column;
        margin-top: 40px;
    }

    .menu ul li{
        margin-top: 30px;
        margin-left: 0;
    }

    .menu ul li a{
        color: #bebebe;
    }
    .header .header_cont .navegacion a
{
    color: #fff;
    text-align: center;
}
    #selected{
        background: none;
        padding: 0px;
        border-radius: none;
        color: #F6615D;
    }

    .menu nav img{
        display: block;
        width: 60px;
    }

    #back_menu{
        background: rgba(0,0,0,.5);
        display: none;
        height: 100vh;
        left: 0;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 15;
    }

    .menu #btn_menu{
        display: flex !important;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        // background: rgba(255, 255, 255, 0.1);
        font-size: 24px;
        border-radius: 50px;
        cursor: pointer;
        transition: all 300ms;
    }

    .menu #btn_menu:hover{
        background: rgba(255, 255, 255, 0.2);
    }

    // video,
    .video{
        height: 75rem;
    }
    .cuadro{
        height: 75rem;
        top: 9rem;
    }
    .cuadro, .video {
        height: 75rem;
        display: flex;
        justify-content: center;
        align-items: center;
     }
    .video33{
        height:  59rem;
    }
    .cuadro, .video33
        {
        
        width: 100%;
        }
        .video33 .header-flex{
            flex-direction: column;
            margin: 0 auto;
        }
        .part2_header-flex{
            p{
                text-align: center;
            }
            p:first-child{
                font-size: 2rem !important;
            }
        }
        .part1_header-flex{
            img{
                width: 10rem;
            }
        }
        .formulario_re{
            grid-template-columns: 100%;
        }

        
}
// trofeo
.icono_1 i {
    position: absolute;
    right: 17rem;
    bottom: 3rem;
    color: white;
    font-size: 1.2rem;
  }

  .icono_2 i {
    position: absolute;
    right: 1rem;
    color: white;
    font-size: 1rem;
    bottom: 2rem;
  }