.cabecera_tabla_general{
    background-color: $rosado;
}


.cabecera_tabla_general_emple,
.cabecera_tabla_general{
    margin-top: 2rem;
    background-color: #675455;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    padding: 1.5rem;
    border-radius: .5rem;
    .cabecera_cont{
        display: flex;
        justify-content: center;
        align-items: center;
        h2{
            font-size: 1.5rem;
            color: $blanco;
            text-align: center;
        }
    }
}
.cabecera_tabla_general_noches{
    margin-top: 2rem;
    background-color: #675455;
    display: grid;
    grid-template-columns: repeat(7,1fr) 23%;
    padding: 1.5rem;
    border-radius: .5rem;
    .cabecera_cont{
        display: flex;
        justify-content: center;
        align-items: center;
        h2{
            font-size: 1.5rem;
            color: $blanco;
            text-align: center;
        }
    }
}


.cabecera_tabla_general_chef{
    margin-top: 2rem;
    background-color: #675455;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    padding: 1.5rem;
    border-radius: .5rem;
    .cabecera_cont{
        display: flex;
        justify-content: center;
        align-items: center;
        h2{
            font-size: 1.5rem;
            color: $blanco;
            text-align: center;
        }
    }
}
.cabecera_tabla_general_beneficio{
    margin-top: 2rem;
    background-color: #675455;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding: 1.5rem;
    border-radius: .5rem;
    .cabecera_cont{
        display: flex;
        justify-content: center;
        align-items: center;
        h2{
            font-size: 1.5rem;
            color: $blanco;
            text-align: center;
        }
    }
}
.body_tabla_general{
    .body_tabla_info{
        display: grid;
        grid-template-columns: repeat(6,1fr);
        align-items: center;
        justify-items: center;
        padding: 2rem;
        // background-color: $grisfondo;
        .body_infor_div{
            p{
                font-size: 1.4rem;
            }
        }
    }
    .body_tabla_info2{
        display: grid;
        grid-template-columns: repeat(5,1fr);
        align-items: center;
        justify-items: center;
        padding: 2rem;
        // background-color: $grisfondo;
        .body_infor_div{
            p{
                font-size: 1.4rem;
            }
        }
    }
    .body_tabla_info3{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        align-items: center;
        justify-items: center;
        padding: 2rem;
        // background-color: $grisfondo;
        .body_infor_div{
            p{
                font-size: 1.4rem;
            }
        }
    }
  
}
.body_tabla_general_noches{
    .body_tabla_info{
        display: grid;
        grid-template-columns: repeat(7,1fr) 23%;
        align-items: center;
        justify-items: center;
        padding: 2rem;
        // background-color: $grisfondo;
        .body_infor_div{
            p{
                font-size: 1.4rem;
            }
        }
    }
  
}
.botones_tabla{
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}
  .f_grisc{
        background-color: $grisClaro2;
    }
    .f_griso{
        background-color: $grisClaro;
    }

    @media screen and (max-width: 900px) {
        .body_tabla_general .body_tabla_info {
            align-items: center;
            display: grid;
            grid-template-rows: 100%;
            justify-items: center;
            padding: 1rem;
            grid-template-columns: 100%;
            gap: 2rem;
            }
            .cabecera_tabla_general, .cabecera_tabla_general_emple {
                background-color: #675455;
                border-radius: .5rem;
                display: grid;
                grid-template-rows: 100%;
                grid-template-columns: 100%;
                margin-top: 2rem;
                padding: 1.5rem;
                gap: 1rem;
              }
    }