.fondo_centros{
    background: url(/build/img/fondop-01.webp);
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 2rem;
}
.centros_consumo{
    padding: 3rem;

   hr{
    border: 1px solid $rosado;
    width: 28rem;
   }
}
.consumo_card{
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 20% 40% 25% 15%;
    padding: 2rem;
    background-color: $blanco;
    border-radius: 1rem;

    .imagen_consumo{
        img{
            width: 100%;
            height: 100%;
        }
    }
    .text_consumo{
        margin-left: 1rem;
        .titulo_consumo{
            font-size: 2.6rem;
            color: $grisOscuro;
        }
        .text_consumo2{
            p{
                font-size: 1.5rem;
            }
            
            span{
                color: $rosado;
                font-weight: 600;
            }
            .text_final{
                // font-weight: 600;
                font-size: 1.3rem;
                font-style: italic;
                color: $rosado;
                text-align: center;
            }
        }
    }

    .chef_consumo{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        .chef_info_centro{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            img{
                width: 10rem;
                height: 10rem;
                border-radius: 50%;
            }
            p{
                font-size: 1rem;
            }
        }
    }
    // botones
    .botones_consumo{
        .reputacion{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: end;
            .valoracion{
                font-weight: 600;
                text-align: right;
            }
            .comentarios_btn{
                font-size: 1.3rem;
                text-align: right;
            }
            a{
                display: inline-block;
                padding: .5rem 1rem;
                text-align: center;
                background-color: $rosado;
                color: $blanco;
                font-weight: 600;
                border-radius: .4rem;
            }
        }
    }
}
.grid_cuadriculas_centros{
    .cuadriculas_chef{
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
}

@media screen and (max-width: 900px){
    .centro_pag.contenedor{
        padding: 2rem;
    }
    .centro_pag .grid_cuadriculas_centros{
        grid-template-columns: 100% !important;
    }
}