.evento_pagina_ind{
    h5{
        font-size: 3rem;
        color: #5d5b5b;
        text-align: center;
        padding: 8rem;
    }
    .cont_event_grid{
        display: grid;
        grid-template-columns: 50% 50%;
        padding-bottom: 5rem;
    }
    .grid_event_part{
        margin-bottom: 3rem;
        img{
            width: 80%;
            border-radius: .5rem;
            box-shadow: 6px 8px 20px 0px rgba(0,0,0,0.55);
            -webkit-box-shadow: 6px 8px 20px 0px rgba(0,0,0,0.55);
            -moz-box-shadow: 6px 8px 20px 0px rgba(0,0,0,0.55);
        }
        .grid_rest_event{
            padding: 1rem;
            background-color: #a63d61;
            margin: 1rem;
            border-radius: 3rem;
            display: inline-block;
            p{
                color: $blanco;
            }
        }
    }
    .grid_event_part2{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        span{
         color: #ba0534;
         font-weight: 600;
         font-size: 1.7rem;
        }
        
        .grid_descripcion_event{
            background: rgba(68, 65, 66, 0.1);
            padding: 2rem;
            border-radius: 1rem;
            p{
                color: $grisOscuro;
            }
        }
        
    }
}

.otros_eventos{
    hr{
        margin-bottom: 3rem;
        border: .1rem solid $rosado;
    }
}

@media screen and (max-width: 900px){
    .evento_pagina_ind .cont_event_grid{
        grid-template-columns: 100%;
    }
    .evento_pagina_ind.contenedor
{
  padding: 2rem;
}
.evento_pagina_ind .grid_event_part
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.grid_img_event
{
  display: flex;
  justify-content: center;
  align-content: center;
}
.evento_pagina_ind h5
{
  padding: 11rem 0rem 3rem 0rem;

}
.evento_prox {
    background-color: #fff9f9;
    border-radius: 1rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: 100%;
    height: auto;
  }
  .text_info_evento {
    display: block;
    height: 100%;
    padding: 1rem;
  }
  .evento_prox .text_evento .text_titulo_ev2 {
    font-size: 1.5rem;
    font-weight: 700;
    padding: 1rem;
  }
}