.fondo_evento{
    background-color: #545050;
}
.f_evento2{
    background-image: url(/build/img/fondo_e2.webp);
    background-position: center center;
    background-size: cover;
    padding-bottom: 3rem;
}
.text_titulo_ev{
    padding: 5rem 14rem;
    color: $blanco;
    text-align: left;
    font-weight: 700;
    font-size: 3.4rem;
}
.evento_proximo{
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    gap: 1rem;
}
.imagenes_cont{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    width: 100%;
    gap: 2rem;
    
    .img_ev_{
        img{
        width: 100%;
        border-radius: 1rem;
        height: 32rem;
        }
        &:hover{
            opacity: .8;
            -webkit-transition: ease-out 0.4s;
            -moz-transition: ease-out 0.4s;
            transition: ease-out 0.4s;
        }
    }
   
}
.tit2_eventos{
    color: $blanco;
    padding: 3rem;
    font-size: 4rem;
}
.evento_prox{
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: #767474;
    gap: 1rem;
    // padding: 1rem;
    border-radius: 1rem;
    .img_eventos{
        img{
            width: 100%;
            height: 28rem;
        }
    }
    .text_evento{
        width: 100%;
        p{
            color: $blanco
        }
        .text_titulo_ev2{
            font-weight: 700;
            font-size: 1.5rem;
            padding-top: 1rem;
        }
        .text_info_evento{
            display: flex;
            flex-direction: column;
            gap: 4rem;
            p{
                font-size: 1.3rem;
            }
           
            a{
                display: inline-block;
                padding: .5rem .5rem;
                text-align: center;
                background-color: #731b3c;
                color: $blanco;
                font-size: 1.3rem;
                font-weight: 600;
                border-radius: .4rem;
            }
        }
    }
}

