.imagen_logo_fidelizacion {
    padding: 3rem;
    background: #e6e6e6;
    border-bottom: 1px solid #ee648f;
    .cont_fidelizacion_img{
    display: flex;
        justify-content: center;
        align-content: center;
        
    }
  }
  .logo_nombre_fidelizacion img {
    width: 5rem;
  }
  .nivel_info p {
    font-size: 1.3rem;
  }
  .logo_nombre_fidelizacion {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  .nivel_info h5 {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
  }
  .text_part_rbpremios {
    margin-top: 3rem;
  }
  .nivel_info {
    padding: 1rem;
    background: #fff;
    border: 1px solid #e5e5e5;
  }
  .grid_rbpremios {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
  }
  .text_principal_acumular2 p {
    text-align: center;
    font-size: 1.3rem;
  }
  .div_grid_card_beneficios {
    background: #efebeb;
    padding: 2rem;
    border-radius: 1rem;
    margin-bottom: 4rem;
  }
  .text_principal_acumular {
    margin-bottom: 2rem;
  }
  .text_part_acumular {
    border: 1px solid #ebebeb;
  border-radius: 3px;
  margin-bottom: 5rem;
  padding: 1rem;
  background: #ededed;
  }
  .text_part_acumular h4 {
    font-size: 1.7rem;
  }
  .text_part_acumular p {
    font-size: 1.3rem;
  }
  .area_menu-beneficios {
    padding: 1rem;
    border-bottom: 1px solid black;
  }
  .menu_beneficios {
    border-right: 1px solid #e0e0e0;
  }
  .text_descripcion_rb {
    margin-bottom: 3rem;
  }
  .card_beneficios span {
    font-weight: 700;
  }
  .area_menu-beneficios a {
    color: black;
    font-weight: 600;
    display: inline-block;
  }
  .text_beneficios_card li {
    font-size: 1.3rem;
  }

  .carousel_bt{
     .carousel {
    position: relative;
    height: 67rem;
  }
  .d-block.w-100 {
    height: 67rem;
  }
  }
 
  .grid_division_beneficios {
    display: grid;
    grid-template-columns: 20% 60% 20%;
  }
 
  .imagen_logo_fidelizacion img {
    width: 32rem;
  }
  .msj_premio {
    text-align: center;
  }
.plan_fidelizacion h2 {
    text-align: center;
    font-weight: 200;
    font-size: 5rem;
    margin-top: 2rem;
  }

  .fidelizacion_grid {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-items: center;
    align-items: center;
    margin-top: 4rem;
  }
  .img_restaurantes {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-items: center;
  align-items: center;
    gap: 2rem;
    margin: 3rem 0rem;
  }
  .fidelizacion_grid_cont span {
    font-weight: 600;
  }
  .fidelizacion_grid_cont p {
    text-align: center;
    font-size: 3rem;
    color: #333;
  }
  .funcionamiento_cont h3 {
    text-align: center;
    font-weight: 400;
    color: #383636;
  }
  .cont_funcionamiento {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 7rem;
    margin-bottom: 5rem;
  }
  .div_part_funcionamiento {
    padding: 1rem;
    text-align: center;
    background: #eee;
    border-radius: 1rem;
  }
  .div_part_funcionamiento h4 {
    font-size: 2rem;
    font-weight: 400;
    font-style: italic;
  }
  .img_rest_cont {
    border-radius: 50%;
    width: 100%;
    display: flex;
    justify-items: center;
    align-items: center;
    box-shadow: 2px 4px 9px -3px rgba(0,0,0,0.9);
    -webkit-box-shadow: 2px 4px 9px -3px rgba(0,0,0,0.9);
    -moz-box-shadow: 2px 4px 9px -3px rgba(0,0,0,0.9);
  }
  .fidelizacion_grid_cont2 p {
    text-align: center;
    font-style: italic;
  }
  .fidelizacion_btn {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 3rem 0rem;
    gap: 4rem;
  }
  .fidelizacion_grid_cont2 {
    border-left: 1px solid #f61655;
    padding-left: 5rem;
  }
  .active_page{
    background: #e0e0e0;
  }
  .text_centrar{
    text-align: center;
  }
  .link_fide {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: .5rem;
    color: black;
    &:hover{
      transition: .2s ease-in;
      color: #272727;
    }
  }
  .iniciar_fide,
  .registrar_fide{
    color: black;
    border: 1px solid black;
    padding: .5rem;
    border-radius: 0.5rem;
    &:hover{
        transition: .2s ease-in;
        background-color: rgb(44, 44, 44);
        color: white;
    }
  }
  @media screen and (max-width: 900px){
  
    .fidelizacion_grid{
      grid-template-columns: 100%;
    }
    .fidelizacion_grid_cont2{
      border: none;
    }
    .img_rest_cont img {
      width: 10rem;
      height: 10rem;
    }
    .fidelizacion_btn {
      display: grid;
      gap: 2rem;
      text-align: center;
    }
    .link_fide{
      text-align: center;
      color: white;
      background: #5b5959;
      border-radius: .5rem;
    }
    .funcionamiento_cont h3 {
      color: #383636;
      font-weight: 400;
      text-align: center;
      font-size: 2rem;
      margin-top: 6rem;
    }
    .cont_funcionamiento {
      display: grid;
      gap: 2rem;
      grid-template-columns: 100%;
      margin-bottom: 5rem;
    }
    .div_part_funcionamiento h4 {
      font-size: 1.5rem;
      font-style: italic;
      font-weight: 400;
      
    }
    .div_part_funcionamiento{
      p{
        font-size: 1.3rem;
      }
    }
    .plan_fidelizacion h2{
      font-size: 3rem;
    }
    .fidelizacion_grid_cont2{
      padding: 0;
    }
    .link_fide:hover {
      color: #ebebeb;
      transition: .2s ease-in;
      background: #797777;
    }
    .carousel_bt {
      display: none;
    }
    .imagen_logo_fidelizacion img {
      width: 24rem !important;
    }
 
    .datos_tarjeta{
      padding: 1rem !important;
    }
  }


    