.app{
  background:url(/build/img/fondo_reserva.jpg);
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  // opacity: 0.3;
}

.titulo_beneficio {
  margin-top: 3rem;
  margin-bottom: 2rem;
  color: black !important;
}
.contenedor.resumen_final {
  background: hsla(0, 0%, 100%, 0.97);
  margin-top: 3rem;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: -4px 10px 18px 12px rgba(28,28,28,0.75);
  -webkit-box-shadow: -4px 10px 18px 12px rgba(28,28,28,0.75);
  -moz-box-shadow: -4px 10px 18px 12px rgba(28,28,28,0.75);
}
.cont_datos_reserva {
  box-shadow: -4px 10px 18px 3px  rgba(28,28,28,.75);
  -webkit-box-shadow: -4px 10px 18px 3px rgba(28,28,28,.75);
  -moz-box-shadow: -4px 10px 18px 3px  rgba(28,28,28,.75);
  background: hsla(0, 0%, 100%, 0.98);
  margin-top: 2rem;
  padding: 1rem;
}
#i_fiscal,
#n_empresa {
  background: #ffffff38;
  padding: .6rem;
}

.part_resumen_monto2 {
  border: 1px solid #bcbaba;
  padding: 1rem;
  margin-top: 2rem;
}
.datos_resumen2 span {
  font-weight: 600;
  color: #444;
  // text-transform: lowercase;
}
.datos_resumen2 {
  padding-bottom: 1rem;
  border-bottom: 1px solid #aaa6a6;
  margin-bottom: 1rem;
}
#datos_seleccion2 {
  margin: 0 3rem;
}
.part_resumen_monto2 {
  border: 1px solid #bcbaba;
  margin-top: 2rem;
  padding: 1rem;
}
.cont_datos_reserva h3 {
  color: #1a1717;
  font-weight: 500;
  font-size: 2rem;
  margin: 0;
}
.monto_resumen2 p {
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
  font-weight: 600;
  color: #2e2f2f;
}
.datos_personales {
  display: grid;
  grid-template-columns: 100%;
  column-gap: 5rem;
  padding: 1rem 2rem 2rem 2rem;
  // border: 1px solid #b3b1b1;
  // border-radius: 1rem;
  margin-bottom: 3rem;
  // background: #5f5f5f2b;
  row-gap: 2rem;
}

.p_personal h4 {
  color: #312f2f;
  font-size: 2rem;
  font-weight: 500;
  margin: 0;
  text-align: center;
}

.p_personal input {
  border: none;
  // border-radius: 8rem;
  height: 5rem;
  padding: 1rem;
  width: 100%;
  border-left: 1px solid gray;
}
.contenedor.hab_seleccion3 h4 {
  font-size: 2rem;
  color: #333;
  font-weight: 600;
}
// paginacion
.paginacion {
  // margin: 3rem auto;
  padding: 3rem;
  display: flex;
  gap: 5rem;
  justify-content: center;
  align-content: center;
}
.paginacion.contenedor button {
  align-items: center;
  background: #f3f3f3;
  border: none;
  border-radius: .5rem;
  color: #040404;
  display: flex;
  justify-content: center;
  padding: 1rem;
  &:hover{
    transition: .2s ease-in;
    background-color: #e4e4e4;
    cursor: pointer;
  }
}

// las felchas

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.contenedor.hab_seleccion3 h5 {
  color: #615f5f;
  font-weight: 600;
  font-size: 2rem;
  margin-bottom: 1rem;
}
.p_personal input {
  height: 5rem;
  border: none;
  // border-radius: 1rem;
  width: 100%;
  padding: 1rem;
  border-left: 1px solid gray;
  background: #ffffff5e !important;
}
.margen_arriba {
  margin-top: 2rem;
  font-size: 1.5rem !important;
}
.div_empresa_datos_part {

  display: flex;
  justify-content: center;

  flex-direction: column;
  gap: 1rem;
}
.hab_seleccion {
  display: grid;
  grid-template-columns: 100%;
  gap: 2rem;
  margin: 0rem 3rem;
}

.opcion_traslado {
  font-weight: 500;
  padding-top: 2rem;
}

#pago {
  padding-top: 3rem;
}
.metodo_pago {
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 7rem;
  margin-top: 2rem;
}
.p_banco_disponibles {
  margin-bottom: 2rem;
}
.p_foto_pago {
  margin-top: 3rem;
}
.bancos_transferencia_datos {
  display: flex;
  gap: 2rem;
}

.datos_banco {
  background: #fff;
  border: 1px solid #161616;
  border-radius: .4rem;
  color: #000 !important;
  padding: 1rem;
  margin-top: 1rem;
  display: inline-block;

}

.btn_reservar4 a {
  color: white;
  display: inline-block;
  padding: .5rem;
  background: #c44b71;
  border-radius: .5rem;
  margin: 1rem;
}

.descrip_precio {
  display: flex;
  gap: 1rem;
}

.hab_datos_seccion {
  display: grid;
  grid-template-columns: 70% 30%;
}

.part_resumen_reserva {
  display: grid;
  grid-template-columns: 70% 30%;
  gap: 1rem;
}

.contenido-resumen {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
.list_plan_part2 input {
  border: none;
  border-radius: 0;
}

.diventrada_salida {
  display: flex;
  justify-content: space-between;
  align-content: center;
  gap: 14rem;
}
.reserva_comp_resumen {
  // background: #b0aeae87;
  padding: 2rem;
  border-radius: 1rem;

  .part_resumen_monto {
    padding-top: 2rem;

    p {
      color: black !important;
    }

    span {
      font-weight: 700;
    }
  }
}

.boton-reserva {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn_reservar {
  background: #fff;
  border: 1px solid black;
  border-radius: .3rem;
  color: #111010;
  margin: 2rem;
  padding: 1rem;
}

.btn_reservar:hover {
  background-color: #4d4d4d;
  cursor: pointer;
  transition: .2s ease-in;
  color: white;
}

.precio_habi {

  p:nth-child(1),
  p:nth-child(3) {
    color: $rosado;
    font-size: 1.4rem;
    text-align: center;
  }

  p:nth-child(2),
  p:nth-child(4) {
    // color: $rosado;
    color: #504f4f;
    font-size: 2.9rem;
    font-weight: 600;
  }
}
.p_personal {
  display: flex;
  border: 1px solid #202020;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  // height: 6rem;
  padding-left: 1rem;
}
.descripcion_habitacion {
  padding-right: 1rem;
}
.cont_grid_paso2 {
  background: hsla(0, 0%, 100%, 0.98);
  padding: 4rem;
  border-radius: 1rem;
  box-shadow: -4px 10px 18px 12px rgba(28,28,28,0.75);
  -webkit-box-shadow: -4px 10px 18px 12px rgba(28,28,28,0.75);
  -moz-box-shadow: -4px 10px 18px 12px rgba(28,28,28,0.75);
}
.grid_cont_paso2_parte {
  // background: #ffffffd4;
  padding: 2rem;
  // background: azure;
}
.enlace_habitaciones:hover {
  transition: .5s ease;
  transform: scale(1.2);
  background-color: #000;
}
.hab_part2 {
  background-color: hsla(0, 0%, 100%, 0.98);
  box-shadow: -4px 10px 18px 3px  rgba(28,28,28,.75);
  -webkit-box-shadow: -4px 10px 18px 3px rgba(28,28,28,.75);
  -moz-box-shadow: -4px 10px 18px 3px  rgba(28,28,28,.75);
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  &:hover {
    transition: .5s ease;
    transform: scale(1.02);
    cursor: pointer;
  }

  .img_hab {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      height: 26rem;
  width: 100%;
    }
  }

  &.seleccionado {
    background-color: #483e44;

    p,
    h5 {
      color: $blanco !important;
    }

  }

  .info_hab {
    display: grid;
    grid-template-rows: 60% 40%;
    row-gap: 3rem;
    padding: 1rem;

    .icono_info {
      display: flex;
      gap: 5rem;
      margin-top: 1rem;
      justify-content: center;

      .icono_info_part svg {
        width: 3rem;
      }

      .tooltip {

        i,
        svg {
          color: $rosado;
          font-size: 2rem;
        }
      }
    }

    .info_hab_3 {
      .titulo_info h5 {
        color: $rosado;
        font-size: 2rem;

        &:hover {
          color: $grisMediano;
        }
      }

      .info_adicional p {
        font-size: 1.3rem;
      }

      .info_parrafo {
        width: 60%;

        p {
          font-size: 1.5rem;
          color: $grisMediano;
        }
      }
    }

  }

  .precio_hab {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.9rem;
    font-weight: 700;

    p {
      font-size: 1rem;
      text-align: center;
      color: $grisOscuro;
      margin: 0;
      padding: 0;

      .pre_nro {
        color: $fucsia;
        font-size: 2.9rem;
      }

      .des_hab {
        color: $fucsia;
        font-weight: 600;
      }
    }
  }
}

// datosss
.tit_hab_reserva_cont {
  align-items: center;
  display: flex;
  background: #fff;
  border-bottom: .3rem solid #cf5a60;
  padding: 1rem;

  img {
    width: 4rem;
  }

  h3 {
    padding: 0;
    margin: 0;
    font-size: 1.8rem;
    color: #2e2e2e;
  }
  .counter-list3 {
    display: grid;
    grid-template-columns: repeat(5,1fr);
  }
  h4 {
    padding: 0;
    margin: 0;
    font-size: 1.3rem;
    color: #3a3a3a;
    font-size: 1.3rem;
    margin: 0;
    padding: 0;
    font-weight: 400;
    // color: #fff;
    font-style: italic;
  }
}
.icono_calendar svg {
  width: 3rem;
  height: 3rem;
}
.list_plan_part svg {
  width: 3rem;
  height: 3rem;
}
.counter-list3 {
  background: #fffffff7;
  // margin-bottom: 3rem;
  margin: 2rem 3rem 3rem 3rem;
  border: 1px solid #c2bcbc;
  padding: 1rem;
  border-radius: .5rem;
}
.list_plan_part label {
  font-size: 1.5rem;
  font-weight: 500;
  color: #000000;
}
#datos_seleccion {
  // background: rgba(175, 175, 175, 0.57);

  .fecha_re {
    input {
      width: 100%;
      height: 3rem;
      // padding: 1rem;
      text-align: center;
      border-radius: 1rem;
      border: none;
      font-size: 1.3rem;
      // font-size: 1.2rem;
    }

    p {
      color: #000;
      font-size: 1.5rem;
      font-weight: 500;
    }
  }
}
.counter-list3 {
  display: grid;
  grid-template-columns: repeat(3,1fr) 42%;
  gap: 1rem;
  box-shadow: -4px 10px 18px 3px  rgba(28,28,28,.75);
  -webkit-box-shadow: -4px 10px 18px 3px rgba(28,28,28,.75);
  -moz-box-shadow: -4px 10px 18px 3px  rgba(28,28,28,.75);
  grid-template-columns: repeat(3,1fr) 21% 21%;
}
.fecha_re input {
  border: none;
}
.list_plan_part2 {
  display: flex;
  gap: .5rem;
  justify-content: center;
  align-items: center;
}
.datos_seleccion_basic {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 1rem;
}
.icono_calendar svg {
  width: 3rem;
  height: 3rem;
}
.list_plan_part {
  display: flex;
  align-items: center;
  gap: .5rem;
}
.list_plan2 {
  padding: 1rem;
}
.fecha_re {
  padding: 1rem;
}
.fecha_re_iconos {
  display: flex;
  // justify-content: center;
  // align-items: center;
  gap: .5rem;
}
.counter-list2 {
  background: #fff;
  padding: 1.5rem 3rem;

  .list_plan label {
    color: #000000;
    text-align: center;
  }

  .counter-btn {
    background-color: hsla(0,0%,100%,0);
    border: 1px solid #030303;
    border-radius: 50%;
    color: #000;
    cursor: pointer;
    height: 3rem;
    margin: auto;
    padding: 5px 10px;
    width: 3rem;
    // font-weight: bolder;
  }

}


.cont_datos_pago {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 2rem;
  margin-top: 2rem;
}
.div_datos_pago {
  border: 1px solid #5a5757;
  display: grid;
  align-items: center;
  grid-template-columns: 40% 60%;
}
.contenedor.resumen_final h3 {
  color: black;
  // background: #eceae8;
  text-align: center;
}
.div_datos_pago label {
  padding: 1rem;
  border-right: 1px solid #5a5757;
  margin: 0;
}
.div_datos_pago select {
  background: white;
  border: none;
  padding: 1rem;
  margin: 0;
  height: 100%;
}
.div_datos_pago input {
  height: 100%;
  border: none;
  padding: 1rem;
}
.reserva_comp_resumen {
  border-radius: .4rem;
  padding: 2rem;
  border: 1px solid #9d9595;
  margin-bottom: 3rem;
}

.contenedor-habitacion {
  // border: 1px solid #b3b0b0;
  padding: 1rem;
  border-radius: .5rem;
  background: #d5d5d5;
  font-size: 2rem;
}
.cont_grid_paso2 {
  display: grid;
  grid-template-columns: 70% 30%;
}
.div_empresa_datos {
  display: grid;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  grid-template-columns: repeat(2,1fr);
  gap: 5rem;
}
// paso 2
.contenedor.hab_seleccion3 {
  padding-top: 5rem;

  hr {
    margin-top: 3rem;
    border: 1px solid #cf5a60;
  }

  .pago_part label {
    font-weight: 600;
    color: #494747;
  }

  .metodo_pago {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15rem;
    width: 100%;
    padding-top: 2rem;
  }
  .monto_resumen2 p {
    color: #232222 !important;
    font-size: 2rem !important;
  }
  p {
    font-size: 1.5rem;
    color: #000;
  }

  h3 {
    font-size: 3rem;
    font-weight: 400;
    color: #675b58;
  }

  #hora {
    width: 20%;
    height: 4rem;
    padding: 1rem;
    border: 1px solid #0f0f0f;
    border-radius: .5rem;
    margin: .4rem 0rem;
    background: #ffffff6e;
  }

  .contenedor-habitacion {
    background: #675b58;
    padding: 1rem;
    box-shadow: 9px 9px 24px -8px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 9px 9px 24px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 9px 9px 24px -8px rgba(0, 0, 0, 0.75);
  }

  .contenedor-habitacion p {
    color: $blanco;
  }

  .contenedor-habitacion p:nth-child(1) {
    font-weight: 700;
    text-transform: uppercase;
  }

  textarea {
  background: #ffffff59;
    padding: 1rem;
    overflow: auto;
    width: 100%;
    height: 24rem;
    border: 1.4px solid #000;
    border-radius: .5rem;
    margin-bottom: 5rem;
    margin-top: 1rem;
  }
}
.div_empresa_datos_part input {
  height: 4rem;
  border: 1px solid #000 !important;
  border-radius: .5rem;
}
.part_resumen_reserva {
  .imagen_re {
    width: 100%;
    height: 100%;
    background: url(/build/img/ubi.webp);
    // background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;

  }
}

// fondo en el tab 3
.bg_paso_3 {
  background-image: url(/build/img/hap5.webp);
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  // padding: 3rem;
}

.fondo_paso3 {
  background: rgba(255, 255, 255, 0.67);
  // padding: 9rem;
  padding: 15rem;
  // border-radius: 1rem;

  p,
  h4 {
    color: #050505;
  }

  .p3 {
    font-weight: 500;
    font-size: 1.7rem;
  }

  .p2 {
    font-size: 1.7rem;
    text-align: center;
  }

  span {
    font-weight: bold;
  }

  .p1 {
    margin-bottom: 2rem;
    font-style: italic;
  }
}

.fondo_paso3 hr {
  margin-bottom: 3rem;
  border: 1px solid #a7a7a7;
}

.hab_seleccion4 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin-top: 5rem;

  a {
    color: white;
    background: #e81656;
    padding: .5rem;
    border-radius: 1rem;

    &:hover {
      background-color: gray;
      transition: .3s ease-in;
    }
  }

}

// econder tabs
.esconder_tabs {
  display: none;
}

// reserva- mq
@media screen and (max-width: 900px) {
  .cont_grid_paso2 {
    display: grid;
    grid-template-columns: 100%;
    padding: 2rem;
  }
  .cont_datos_pago{
    grid-template-columns: 100%;
  }
  .div_datos_pago{
    grid-template-columns: 100%;
  }
  .div_datos_pago input, .div_datos_pago select{
    border: none;
  height: 100%;
  padding: 1rem;
  border-top: 1px solid #d1cece;
  }
  .p_personal{
    gap: 1rem;
    flex-direction: column;
    padding-left: 0;
  }
  .p_personal input{
    border: none;
    border-top: 1px solid #c6c2c2;
  font-size: 1.5rem;
  }
  .div_empresa_datos{
    gap: 2rem;
    grid-template-columns: 100%;
  }
  .hab_datos_seccion,
  .part_resumen_reserva {
    grid-template-columns: 100%;
  }

  .hab_seleccion {
    grid-template-columns: 100%;
  }

  .hab_part2 {
    grid-template-columns: 100%;
    height: auto;
  }

  .contenedor.hab_seleccion3 {
    margin: 0 2rem;
  }

  .contenedor.hab_seleccion3 #hora {
    width: 36%;
  }

  .contenedor.hab_seleccion3 .metodo_pago {
    flex-direction: column;
    gap: 1rem;
  }

  .modal {
    z-index: 21 !important;
  }


  // habitaciones al darle click
  .hab_pag_principal {
    padding: 0px 2rem;
  }

  .cont_hab {
    grid-template-columns: 100%;
  }

  .cont_hab .cont_hab_p .hab_img_text .servicios_imp .elemento_imp .elem_hab_imp_p {
    flex-direction: column;

    p {
      text-align: center;
      font-size: 1.3rem;
    }
  }

  .cont_hab .cont_hab_p .hab_img_text .text_hab_cant p {
    font-size: 1.3rem;
  }

  .cont_hab .cont_hab_p .hab_info_text .hab_info_partes2 {
    flex-direction: column;
  }

  .cont_hab .cont_hab_p .hab_info_text .hab_info_partes .pre_part_info p {
    font-size: 1.6rem;
  }

  .cont_hab .cont_hab_p2 .descrip_reg_hab p:nth-child(2) {

    font-size: 1.4rem;
  }

  .galeria_imagenes {
    grid-template-columns: 50% 50%;
  }

  .galeria_imagenes .f_gal_div p {
    color: #fff;
    font-size: 2rem;
    font-weight: 700;
  }

  .hab_seleccion4 {
    flex-direction: column;
  }

  .fondo_paso3 h4 {
    text-align: center;
  }

  .fondo_paso3 .p2 {
    font-size: 1.5rem;
    text-align: center;
    background: #2b28284d;
    padding: 1rem;
    border-radius: 2rem;

  }

  .cont_hab .cont_hab_p .hab_info_text .hab_info_partes2 .pre_part_info {
    overflow: hidden !important;
  }

  .centro_pag .img_centro_consumo img {
    height: 37rem !important;
  }

  .hab_part2 .info_hab .info_hab_3 .info_parrafo {
  width: 100%;
  } 
.descrip_precio {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}
.precio_habi p {
  text-align: center;
}

.datos_personales{
  padding: 1rem 0rem;
}
.tabs button{
  font-size: 1.2rem;
}
.contenedor.hab_seleccion3 h4{
  // font-size: rem !important;
padding-top: 1rem;
}
.div_datos_pago{
  label,select,input{
      font-size: 1.5rem;
  }
}
.contenedor.resumen_final h3{
font-size: 2rem;
}
.contenido-resumen{
grid-template-columns: 100%;
}
.div_datos_pago label{
border-right: none;
}
.fondo_paso3{
padding: 3rem;
}
.fondo_paso3 h4{
font-size: 2rem;
}
.fondo_paso3 .p1 {
margin-bottom: 2rem !important;
}
}