// panel administrativo

.part_panel_administrativo2 img{
    width: 100%;
    height: 100%;
}
.part_panel_administrativo
{
  margin: 5rem 8rem;
  h3{
    text-align: center;
  }
}
.cont_panel_2
{
  display: flex;
  gap: 1rem;
  justify-items: center;
  align-items: center;
  img{
    width: 8rem ;
  }
}
// menu de opciones
.btn_menu_usuario{
    border: none;
    background-color: #9f425a;
    color: white;
    padding: .7rem 2rem;
    border-radius: 10rem;
    &:hover{
        transition: .2s ease-in;
        background-color: #ac1c43;
        cursor: pointer;
    }
}
.active_menu{
    display: block !important;
}
.nav_menu_bg
{
    display: none;
    padding: 1rem;
  position: absolute;
    background-color: #9f425a;
   border-radius: 1rem;
  top: 4rem;
  z-index: 9;
  .nav_menu_usuario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    top: 13rem;
    a{
        color: white;
        background-color: #9f425a;
        &:hover{
            transition: .2s ease-in;
            border-radius: 1rem;
            background-color: #95606d;
        }
    }
  }
}

.f_reservas{
    background: #2d292b;
    box-shadow: 1px 19px 22px 1px #2d292b;
    -webkit-box-shadow: 1px 19px 22px 1px #2d292b;
    -moz-box-shadow: 1px 19px 22px 1px #2d292b;
    z-index: 2;
    position: relative;
}
   
   .no-display{
    transition: 1s ease;
    display: block !important;
   }
   
   /* Estilos para el diseño del formulario */
   /* Estilos para el diseño del formulario */
   .counter-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    // border: 2px solid #d0a3a5;
    // border-radius: 1rem;
    padding: 0.4rem;
  }
  .counter-row {
    display: flex;
    align-items: center;
    margin: 5px;
    position: relative;
  }

  .counter-input {
    font-size: 1.6rem;
    text-align: center;
    width: 100%;
    height: 100%;
    margin: 0 5px;
    border: 1px solid #d0c9ca;
    border-radius: 5rem;
  }
  .counter-btn {
    background-color: #cf5a60;
    border: none;
    border-radius: 29%;
    color: #fff;
    cursor: pointer;
    height: 3rem;
    margin: auto;
    padding: 5px 10px;
    width: 3rem;
  }

  .counter-select span{
//    border: 1px solid #000;
    color: $blanco;
    font-size: 1.3rem;
    padding: 1rem;
    border: 2px solid #d0a3a5;
    border-radius: 1rem;
    cursor: pointer;
  }
  .counter-list {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    z-index: 1;
    width: 41rem; /* Ancho ajustable según sea necesario */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    display: none;
  
    padding: 1rem;
  }
 
  .ocultar2{
    visibility: hidden;
  }
  .counter-list li {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  .counter-list li:hover {
    background-color: #f5f5f5;
  }

  .list_plan{
  display: grid;
  grid-template-columns: 33% 15% 32% 15%;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 1rem;
  label{
    color:#2d2b2b;
    text-align: center;
  }
  }
body{
    background: url(/build/img/fondop-01.webp);
    background-attachment: fixed;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
.inicio_info{
    background-color: $vinotinto;
    margin-top: 0rem;
//   display: block;
    .inicio_logos{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        .logos_part_flex{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 3rem;
        }
    }
}
#fechaEgreso, #fechaEgreso2, #fechaReserva, #fechaReserva2
{
  border: 2px solid #d0a3a5;
  border-radius: 1rem;
  padding: 1rem;
  text-align: center;
}
.formulario_re .par_label input
{
  background-color: #2d292b;
}
.l_partes{
    display: flex;
    gap: 1rem;
    .inicio_texto{
        display: flex;
        justify-content: center;
        align-items: center;
        p{
            color: $blanco;
            font-weight: 300;
            font-size: 1.6rem;
        }
    }
    .inicio_svg{
        svg{
            width: 29px;
        height: 29px;
        }
        
    }
}
.texto_form_pre{
    h4{
        color: #e4c9c9;
        font-style: italic;
        font-weight: 400;
        margin-bottom: 1.5rem;
        padding-top: 4rem;
        font-size: 1.8rem;
    }
}
.form_pers{
    display: flex;
    margin: 0;
    .par_label{
        display: flex;

    }
}
.formulario_re{
    align-items: center;

    border-radius: .75rem;
    box-shadow: 4px 4px 12px 0 rgba(75,73,73,.25);
    display: grid;
    gap: 2rem;
    grid-template-columns: 25% 20% 35% 15%;
    justify-content: center;

    padding-bottom: 2rem;
    .par_label{
            input, label{
            font-size: 1.3rem;
            color:$blanco
        
        }
        input{
            background-color:#2d292b;;
        }
    }
    
    // label{
    //     color:$blanco
    // }
}
.par_label
{
  display: flex;

  flex-direction: column;
}
#fechaReserva, 
#fechaEgreso
{
  padding: 1rem;
  border: 2px solid #d0a3a5;
  border-radius: 1rem;
}
#fechaReserva2, 
#fechaEgreso2
{
  padding: 1rem;
  border: 2px solid #d0a3a5;
  border-radius: 1rem;
}

// eventos
.eventos_part{
    display: grid;
    grid-template-columns: 70% 30%;
    gap: 3rem;
    
}
.imagen_evento{
        width: 100%;
        height: 100%;
        background: #9f425a;;
        padding: 3rem;
        border-radius: 1rem;
        box-shadow: 16px 15px 15px -10px rgba(79,76,76,0.71);
        -webkit-box-shadow: 16px 15px 15px -10px rgba(79,76,76,0.71);
        -moz-box-shadow: 16px 15px 15px -10px rgba(79,76,76,0.71);
        ul{
            li{
                font-size: 1.3rem;
                color: $blanco;
            }
        }
        h5{
            color: $blanco;
        }
    }
.imagen_evento img
{
  width: 100%;
}
.eventos_esta{
    border: 1px solid #cfcfcf;
    width: 14rem;
    margin-bottom: 4rem;
}
// cards
.card_padre{
    display: grid;
    gap: 2rem;
    grid-template-columns: 50% 50%;
    height: 22rem;
  
}
.padding_espa{
    padding-top: 5rem;
}
.card_hija{
    // background-color: #f2f0f0;
    display: grid;
  grid-template-columns: 56% 43%;
  height: 25rem;
  background: #fff;
    .texto_card{
        padding: 2rem;
        p{
            font-size: 1.3rem;
            color: $grisMediano;
            span{
                color: #ba0534;
                font-weight: 600;
            }
        }
        h5{
            font-size: 1.8rem;
            color: $grisOscuro;
            &:hover{
                color: #ba0534;
                transition: .2s ease-in;
            }
        }
    }
    &:hover{
        box-shadow: 3px 3px 10px 0px rgba(85, 83, 83, 0.25);
    }
}

.imagen_card img
{
  width: 100%;
  height: 25rem;
}

// salones
.salones_cont{
    // display: grid;
    // grid-template-columns: 70% 30%;
    // gap: 3rem;
    // height: 38rem;
    .salon_evento img{
        width: 100%;
        height: 38rem;
        margin-left: 2rem;
    }
}
.titulo_sal{
   .eventos_hr1{
    border: 1px solid $rosado;
    width: 25rem;
    margin-bottom: 4rem;
   }
    .salones_hr{
        border: 1px solid $rosado;
        width: 12rem;
        margin-bottom: 4rem;
    }
}

.restaurantes{
   
    display: grid;
    grid-template-columns: 30% 40% 30%;
    padding: 1rem 0rem;
    .rest_inicio_cont-im{
        display: flex;
        gap: 2rem;
        p{
            font-weight: 700;
            font-size: 2.6rem;
            color:$blanco;
        }
    }
    .rest_inicio_cont{
        display: flex;
        flex-direction: column;
        margin-left: 1rem;
        margin-right: 1rem;
        justify-content: center;
        align-items: center;
        gap: 3.5rem;
        p{
            font-weight: 700;
            font-size: 3rem;
            color:$blanco;
        }
    }
    img{
        width: 100%;
        height: 100%;
    }
}
.rest_color{
    background-color: $vinotinto;
}
.rest_inicio_cont a
{
  color: #9f425a;
  background: #e8dada;
  padding: .5rem 2rem;
  font-weight: 600;
  border-radius: 2rem;
}



h4{
    color:$grisOscuro
}

// Habitaciones


.habitaciones{
    // background-color: #787676;
    background-color: #191717ad ;
    // background: url(/build/img/hab1.webp);
    padding: 6rem 2rem 2rem 2rem;
    // background-position: center center;
    // background-size: cover;
    z-index: 1;
}
.hab{
    padding-top: 4rem;
}
.hab_part{
    display: grid;
    grid-template-columns: 30% 45% 25%;
    height: 25rem;
    background-color: #E7E7E7;
    border-radius: .5rem;
    justify-content: center;
     align-items: center;
    margin-bottom: 3rem;
    box-shadow: 7px 7px 16px 0px rgba(0, 0, 0, 0.25);
    .img_hab{
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            height: 22rem;
            width: 92%;
        }
    }

    &.seleccionado{
        background-color: #483e44;
        p,h5{
        color: $blanco !important;
        }
        
    }
    .info_hab{
        display: grid;
        grid-template-rows: 60% 40%;
        row-gap: 3rem;
        padding: 1rem;
        .icono_info {
            display: flex;
            gap: 5rem;
            margin-top: 1rem;
            justify-content: center;
                .icono_info_part svg {
                    width: 3rem;
                }
                .tooltip{
                    i,svg{
                        color: $rosado;
                        font-size: 2rem;
                    }
                }
            }
            .info_hab_3{
                .titulo_info h5{
                    color: $rosado;
                    font-size: 2rem;
                }
                .info_adicional p{
                    font-size: 1.3rem;
                }
                    .info_parrafo{
                        width: 60%;
                        p{
                        font-size: 1.5rem;
                        color: $grisMediano;
                    }
                }
            }
        
    }
    .precio_hab{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
       
        font-weight: 700;
        p{
            font-size: 1rem;
            text-align: center;
            color: $grisOscuro;
            margin: 0;
            padding: 0;
            .pre_nro{
                color: $fucsia;
                font-size: 2.9rem;
            }
            .des_hab{
                color: $fucsia;
                font-weight: 600;
            }
        }
    }
}
.hab{
    .titulo_ha{
        h4{
            color: #f1f1f1;
        }
        .salones_hr{
            border: 2px solid $rosado;
            width: 19rem;
            margin-bottom: 4rem;
        }
    }
    .titulo_ha2{
        h4{
            color: #2d2b2b;
        }
        .salones_hr{
            border: 2px solid $rosado;
            width: 19rem;
            margin-bottom: 4rem;
        }
    }
}

.f_habitaciones{
    background: url(/build/img/hab1.webp);
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: cover;
}
// artistas
.artista_fondo{
    background-color: #6D373A;
    padding: 2rem;
}
.cont_grid_art{
    display: grid;
    grid-template-columns: 30% 70%;
    .artistas_cont_titulo{
        padding: 1rem;
        p{
            font-size: 4rem;
            font-weight: 700;
            color: $blanco;
        }
        img{
            width: 100%;
        }
    }
    .artistas_card{
        display: grid;
        grid-template-columns: 30% 70%;
        gap: 3rem;
        justify-content: center;
        align-items: center;
        .art_part{
            .img_art img {
                width: 100%;
                height: 32rem;
                }
            .text_art{
                padding: .4rem;
                background-color: $grisClaro2;
                text-align: center;
                p{
                    font-weight: 600;
                    font-size: 1.5rem;
                    color:$grisMediano;
                }
            }
        }
    }
}

// ubicacion
.ubicacion_fondo{
    background-color: #fff;
    display: grid;
    grid-template-columns: 70% 30%;
    border-top: 2px solid #dc143c;
    .imagen_ubi{
        img{
            width: 100%;
        }
    }
  
        .info_ubi_tittle{
            display: flex;
            justify-content: left;
            align-items: center;
            gap: 1rem;
            p{
                font-size: 4rem;
                font-weight: 600;
                color: #060606;
            }
        }
    .text_ubi{
       margin-top: 3rem;
       display: flex;
       flex-direction: column;
       gap:2rem ;
    }

    .info_ubi_av{
        display: flex;
        gap: 2rem;
        justify-content: left;
        align-items: center;
        p{
            color: #060606;
        }
        svg{
            width: 20px;
            height: 20px;
        }
    }
}


// areas de restaurantes
.bg_areas{
    margin-top: 5rem;
    margin-bottom: 5rem;
}
.areas_rest{
    height: 40rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:5rem;
}
.area_rest_part{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
gap: 2rem;
p{
    color: #483e44;
    font-size: 1.5rem;
    font-style: italic;
    text-align: center;
}
}
.img_area1{
    height: 100%;
    width: 100%;

    background: url(/build/img/area1.webp);
    // background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 10px 10px 23px -3px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 23px -3px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 23px -3px rgba(0,0,0,0.75);
    border-radius: 2rem;
}
.img_area2{
    height: 100%;
    width: 100%;
    background: url(/build/img/area2.webp);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 10px 10px 23px -3px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 23px -3px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 23px -3px rgba(0,0,0,0.75);
border-radius: 2rem;
}
.img_area3{
    height: 100%;
    width: 100%;
    background: url(/build/img/area3.webp);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 10px 10px 23px -3px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 23px -3px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 23px -3px rgba(0,0,0,0.75);
border-radius: 2rem;
}

@media screen and (max-width: 900px){
    .btn_reserva_lista{
        display: flex;
        justify-content: center;
        align-content: center;
        .boton-rosado{
            padding: .4rem 1rem !important;
        }
    }
    .inicio_info{
        display: none;
    }
    .formulario_re{
        grid-template-columns: 73%;
    }
    .texto_form_pre h4{
        text-align: center;
    }
    .counter-row{
        margin: 0;
    }
    .counter-list{
        background-color: #393838;
        border: none;
        width: 31rem;
        top: 3.7rem;
        right: -4rem;
    }
    .list_plan label {
        color: #fff;
        text-align: center;
        font-size: 1.3rem;
    }
    .counter-btn{
        background-color: #d0a3a5;
        border: none;
        color: #373737;
    }
    .counter-input{
        background: gray;
  color: white;
  border: none;
    }
    // habitaciones
    .hab_part{
        grid-template-columns: 100%;
         height: auto;
    }
    .hab_part .precio_hab{
        padding-bottom: 2rem;
    }
    .hab_part .info_hab .icono_info {
        overflow: hidden;
    }
    .salon_fondo{
        padding: 2rem !important;
    }
    .eventos_hr1 {
        display: none;
    }
    .titulo_sal {
        text-align: center;
    }
    .eventos_part{
        grid-template-columns: 100%;
        padding: 2rem;
    }

    // salones -index
    .titulo_sal .salones_hr{
        display: none;
    }
    .card_padre{
        grid-template-columns: 100%;
        height: auto;
        padding: 2rem;
    }
    .card_hija{
        grid-template-columns: 61% 39%;
        height: auto;
    }
    .imagen_card img
        {
        height: 100%;
        width: 100%;
        }
        .espacio_salon{
            margin: 0rem 2rem;
        }

        // eventos -index
        .text_titulo_ev{
            font-size: 2.4rem !important;
            padding: 5rem 2rem !important;
            text-align: center !important;
        }
        .imagenes_cont{
            grid-template-columns: repeat(2,1fr) !important;
            padding: 2rem !important;
        }
        .imagenes_cont .img_ev_ img{
            height: 28rem !important;
        }

        // areas-rest index

        .areas_rest{
            padding: 0rem 5rem;
            grid-template-columns: 100%;
            height: auto;
        }
        .area_rest_part{
            height: 33rem;
        }

        // ubicacion mapa

        .ubicacion_fondo{
            grid-template-columns: 100%;
        }

        .ubicacion_fondo .info_ubi_av p{
           color: #060606;
           font-size: 1.5rem;
        }
        // footer
        .footer_info{
            grid-template-columns: 100%;
        }
        .footer .footer_todo .logo_footer{
        width: 100%;
        }

        .contactanos_nosotros{
            margin-top: 23rem;
        }

        // centros de consumo
        .consumo_card .botones_consumo .reputacion
            {
            align-items: center !important;
            display: flex !important;
            flex-direction: column !important;
            justify-content: center !important;
            }
            .consumo_card {
                grid-template-columns: 100% !important;
                gap: 2rem;
                padding: 1rem !important;
            }
        .centros_consumo {
            padding-top: 6rem;
        }

        // salones card
        .salones_card{
            background-color: #fff !important;
            border-radius: 1rem !important;
            grid-template-columns: 100% !important;
        }
        .salones_card .imagen_salon img{
            height: 19rem !important;
            width: 100% !important;
            border-radius: 0 !important;
        }
        .salones h4{
        padding-top: 6rem !important;
        }

    //    login

    .seccion_login
        {
        margin-top: 16rem !important;
        padding: 2rem !important;
        }


        // registro
        .field_registro .r_part input, .field_registro .r_part select {
            width: 100% !important;
        }
        .field_registro2 .r_part2 input{
            width: 100% !important;
        }
        .field_registro2 .r_part2 select{
            width: 100% !important;
        }

        .contenedor.seccion_slogin{
            padding: 2rem;
        }

        .field_registro{
            grid-template-columns: 100% !important;
        }
        .field_registro2{
            grid-template-columns: 100% !important;
        }

        .precio_hab_p{
            display: flex;
            justify-content: center;
            align-content: center;
            gap: 4rem;
        }
}
.login_usu{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}


 

.map-responsive{

    overflow:hidden;

    padding-bottom:56.25%;

    position:relative;

    height:0;

}

.map-responsive iframe{

    left:0;

    top:0;

    height:100%;

    width:100%;

    position:absolute;

}
 

