.salon_pag_principal{
    // background: url(/build/img/fondop-01.webp);
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0rem 25rem;
    h5{
        padding-bottom: 3rem;
        padding-top: 7rem;
        font-size: 4rem;
        color: $grisOscuro;
        font-weight: 400;
    }


    .cont_sal_img{
        // background: rgb(60, 59, 59);
        // border-radius: .7rem;
        // padding: .4rem;
        img{
            width: 100%;
            // border-radius: .7rem;
        }
    }
    .cap_datos_sal{
        align-items: center;
        background-color: hsla(0, 14.3%, 93.1%, 0.4);
        display: flex;
        justify-content: space-between;
        padding: 1rem;
        margin-top: 2rem;
        border-radius: 0.6rem;
        .d_salon{
            display: flex;
            gap: 1rem;
            justify-content: center;
            align-items: center;
            i{
                color: #5c5c5c;
            }
        }
       
    } 
    .cont_sal_text{
            h5{
                font-size: 2rem;
                font-weight: 400;
                margin: 0;
                text-align: left;
                padding: 4rem 0 1rem 0;
                color: #605c5e;
            }
        }
    a{
        background-color: #f0f0f0;
        border-radius: .5rem;
        display: inline-block;
  margin-bottom: 4rem;
  margin-top: 2rem;
  padding: .7rem .6rem;
  color: black;
  border: 1px solid black;
    }
    a:hover{
        border: none;
        background-color: #2a2a2a;
        color: white;
        transition: .5s ease-in;
    }
}

@media screen and (max-width: 900px){
    .salon_pag_principal{
        padding: 0px 2rem;
    }

    .salon_pag_principal h5 {
        color: #393939;
        font-size: 2rem;
        font-weight: 400;
        padding-bottom: 3rem;
        padding-top: 7rem;
      }
      .salon_pag_principal .cont_sal_text h5 {
        color: #4d4d4d;
        font-size: 1.5rem;
        font-style: italic;
        font-weight: 400;
        margin: 0;
        padding: 4rem 0 1rem;
        text-align: left;
      }
}