.salon_pag_principal{
    background: url(/build/img/fondop-01.webp);
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0rem 25rem;
    h5{
        padding-bottom: 3rem;
        padding-top: 7rem;
        font-size: 4rem;
        color: $grisOscuro;
        font-weight: 400;
    }


    .cont_sal_img{
        background: rgb(60, 59, 59);
        border-radius: .7rem;
        padding: .4rem;
        img{
            width: 100%;
            border-radius: .7rem;
        }
    }
    .cap_datos_sal{
        align-items: center;
        background-color: hsla(0, 1.4%, 41%, 0.4);
        display: flex;
        justify-content: space-between;
        padding: 1rem;
        margin-top: 2rem;
        border-radius: 0.6rem;
        .d_salon{
            display: flex;
            gap: 1rem;
            justify-content: center;
            align-items: center;
            i{
                color: #ba0534;
            }
        }
       
    } 
    .cont_sal_text{
            h5{
                font-size: 2rem;
                font-weight: 400;
                margin: 0;
                text-align: left;
                padding: 4rem 0 1rem 0;
                font-style: italic;
                color: #a63d61;
            }
        }
    a{
        background-color: #850a2a;
        border-radius: .5rem;
        color: #fff;
        display: inline-block;
        margin-bottom: 4rem;
        margin-top: 2rem;
        padding: .7rem .6rem;
    }
    a:hover{
        border: 1px solid #cf5a60;
        background-color: #cf5a6000;
        color: $rosado;
        transition: .5s ease-in;
    }
}

@media screen and (max-width: 900px){
    .salon_pag_principal{
        padding: 0px 2rem;
    }

    .salon_pag_principal h5 {
        color: #393939;
        font-size: 2rem;
        font-weight: 400;
        padding-bottom: 3rem;
        padding-top: 7rem;
      }
      .salon_pag_principal .cont_sal_text h5 {
        color: #4d4d4d;
        font-size: 1.5rem;
        font-style: italic;
        font-weight: 400;
        margin: 0;
        padding: 4rem 0 1rem;
        text-align: left;
      }
}