.salon_fondo{
    // background: url(/build/img/fondop-01.webp);
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    
}
.salones_card .text_consumo .titulo_consumo h5{
    font-size: 2rem;
}
.fondo_salon{
    background: url(/build/img/salon_fondo_p.jpg);
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 40rem;
}
.salones{
    padding-bottom: 3rem;
    h4{
        padding-top: 2rem;
    
    }
    hr{
        margin-bottom: 5rem;
    }
}
.salones_card{
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 25% 71%;
   
    padding: 1rem;
    background-color: #fff;
    border-radius: 19rem;
    border: 1.3px solid $grisClaro;
    .imagen_salon{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        img{
            border-radius: 50%;
            width: 20rem;
            height: 19rem;
        }
        
    }
    .text_consumo{
        margin-left: 1rem;
        .titulo_consumo{
            font-size: 2.6rem;
            a{
                color: $grisOscuro;
            }
            
        }
        .text_consumo2{
            p{
                font-size: 1.5rem;
            }
            
            span{
                color: $rosado;
                font-weight: 600;
            }
            .text_final{
                // font-weight: 600;
                font-size: 1.3rem;
                font-style: italic;
                color: $rosado;
                text-align: center;
            }
        }
    }
}