
.imagen_registro{
    background-color: #331427ab;
    height: 50rem;
}

.f_registro{
    height: 50rem;
   background: url("/build/img/hap5.webp");
   background-attachment: fixed;
   background-position: center center;
   background-size: cover;
   background-repeat: no-repeat;
   background-size: cover;
 
}
.formulario_registro{
    margin-bottom: 6rem;
    fieldset{
        border: 1px solid  #bdbbbb;
        border-radius: 1rem;
    }
}
.espacio4{
    margin-top: 3rem;
}
.field_registro{
    display: grid;
    grid-template-columns: 60% 40%;
    gap: 3rem;
    .r_part{
        input{
            height: 4rem;
            width: 94%;
            border: .5px solid #fff;
            padding: 1rem;
            border-radius: 1rem;
        }
        select{
            width: 94%;
            border: .5px solid #fff;
            padding: 1rem;
            border-radius: 1rem;
            background-color: $blanco;
        }
    }
}
.field_registro2{
    display: grid;
    grid-template-columns: 60% 40%;
    gap: 3rem;
    .r_part2{
        display: flex;
        flex-direction: column;
        input{
            height: 4rem;
            width: 94%;
            border: .5px solid #fff;
            padding: 1rem;
            border-radius: 1rem;
        }
        select{
            width: 94%;
            border: .5px solid #fff;
            padding: 1rem;
            border-radius: 1rem;
            background-color: $blanco;
        }
    }

}
.field_registro3{
    display: grid;
    grid-template-columns: 100%;
    gap: 3rem;
    margin-top: 1rem;
    .r_part2{
        display: flex;
        flex-direction: column;
        input{
            height: 4rem;
            width:100%;
            border: .5px solid #fff;
            padding: 1rem;
            border-radius: 1rem;
        }
        select{
            width: 94%;
            border: .5px solid #fff;
            padding: 1rem;
            border-radius: 1rem;
            background-color: $blanco;
        }
        textarea{
            width: 100%;
            border: .5px solid #fff;
            padding: 1rem;
            border-radius: 1rem;
            background-color: $blanco;
        }
    }

}