.tabs{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;

  
    button{
        background-color: aqua;
        border: none;
    }
  .actual{
    background-color: black;
  }
}

.seccion{
    display: none;

}
.mostrar{
    display: block;
}

.ocultar{
    display: none;
}